html,
body {
  overflow: hidden;
  overflow-y: auto;
}
#header {
  width: 100%;
}
#header .header_search {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 8px 15px;
}
#header .header_search .logo img {
  display: inline-block;
  width: 138px;
  height: 40px;
  background-position: center;
  background-size: cover;
  line-height: 88px;
  margin-left: 15px;
}
#header .header_search .searchInput {
  width: 442px;
  height: 56px;
  background: #eee;
  border-radius: 5px;
  margin-left: 20px;
}
#header .header_search .searchInput img {
  width: 28px;
  height: 28px;
  padding-left: 20px;
  margin-top: 10px;
}
#header .header_search .searchInput .placeholder {
  font-size: 28px;
  color: #666;
  margin-left: 10px;
}
#header .header_search .loginBtn {
  width: 76px;
  height: 42px;
  line-height: 42px;
  font-size: 24px;
  text-align: center;
  color: #f00;
  border-radius: 5px;
  border: 1px solid #b4282d;
  margin-left: 15px;
}
#header .header_nav {
  width: 100%;
  height: 60px;
}
#header .header_nav .header_nav_list {
  width: 100%;
  height: 60px;
}
#header .header_nav .header_nav_list .nav_item {
  font-size: 28px;
  float: left;
  padding: 0px 36px;
  line-height: 60px;
}
#content .home .text_list {
  height: 72px;
  padding: 0px 30px;
  width: 100%;
}
#content .home .text_list .text_list_item {
  float: left;
  line-height: 72px;
  margin: 0 auto;
}
#content .home .text_list .text_list_item span {
  font-size: 24px;
  color: #b4282d;
  margin-left: 50px;
  text-align: center;
}
#content .home .goods_nav {
  width: 100%;
  height: 340px;
  box-sizing: border-box;
}
#content .home .goods_nav .goods_list {
  margin-left: 15px;
}
#content .home .goods_nav .goods_list .goods_item {
  float: left;
  width: 110px;
  height: 156px;
  margin: 10px 15px 0;
}
#content .home .goods_nav .goods_list .goods_item img {
  width: 110px;
  height: 110px;
}
#content .home .goods_nav .goods_list .goods_item p {
  font-size: 24px;
  text-align: center;
}
#content .home .boss {
  width: 100%;
  margin-bottom: 20px;
}
#content .home .boss img {
  height: 160px;
}
#content .home .focus {
  width: 100%;
  height: 528px;
  margin: 0 0 10px;
}
#content .home .focus .focus_list {
  height: 100%;
  margin-left: 25px;
}
#content .home .focus .focus_list li {
  float: left;
  background: #f5f5f5;
  margin: 4px 0 0 4px;
  padding: 20px 0 0 20px;
}
#content .home .focus .focus_list li img {
  width: 150px;
  height: 150px;
  margin: 0 4px 0 0;
}
#content .home .focus .focus_list li .p1 {
  font-size: 32px;
  padding: 0 0 0 10px;
  margin: 10px 0 10px 0;
}
#content .home .focus .focus_list li .p2 {
  font-size: 24px;
  padding: 0 0 0 10px;
  margin: 10px 0;
}
#content .home .goods_brand {
  width: 100%;
  height: 100px;
  padding: 0 30px;
  overflow: hidden;
}
#content .home .goods_brand .goods_brand_text {
  font-size: 32px;
  line-height: 100px;
}
#content .home .goods_brand .brand_more {
  float: right;
  font-size: 24px;
  color: #000;
  margin-right: 50px;
  line-height: 100px;
}
#content .home .brand_container {
  width: 100%;
  height: 555px;
}
#content .home .brand_container .brand_list {
  width: 100%;
  height: 100%;
  margin: 0 0 20px;
  padding: 0 30px 25px 30px;
}
#content .home .brand_container .brand_list .brand_item {
  margin: 0 4px 4px 0;
  width: 342px;
  height: 260px;
  float: left;
  background-size: 100% 100%;
}
#content .home .brand_container .brand_list .brand_item .brand_box {
  width: 342px;
  height: 260px;
  line-height: 260px;
  text-align: center;
}
#content .home .private {
  font-size: 32px;
  width: 100%;
  height: 100%;
  line-height: 100px;
  padding: 0 30px;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #fafafa;
  border-top: 1px solid #d9d9d9;
  z-index: 101;
}
#footer .footer_nav {
  height: 100px;
  display: flex;
  align-items: center;
}
#footer .footer_nav .footer_nav_item {
  width: 150px;
  height: 75px;
  text-align: center;
}
#footer .footer_nav .footer_nav_item .u-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-bottom: 15px;
  background-size: 40px 490px;
  background-image: url("http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/sprites/tabBar-s43a0dc8a7d-2a8cea5605.png");
}
#footer .footer_nav .footer_nav_item .u-icon-tabBar-index {
  background-position: 0 -200px;
}
#footer .footer_nav .footer_nav_item .u-icon-tabBar-cate {
  background-position: 0 -150px;
}
#footer .footer_nav .footer_nav_item .u-icon-tabBar-topic {
  background-position: 0 -350px;
}
#footer .footer_nav .footer_nav_item .u-icon-tabBar-cart {
  background-position: 0 -50px;
}
#footer .footer_nav .footer_nav_item .u-icon-tabBar-ucenter {
  background-position: 0 -450px;
}
#footer .footer_nav .footer_nav_item .text {
  display: block;
  font-size: 28px;
  margin-top: -15px;
}
